<!DOCTYPE html>
<html lang="en">
    <head>
        <%# Meta %>
        <%- include('/base/meta', { meta: theme.meta }); %>

        <%# Styles %>
        <%- include('/base/styles', { theme, utilities }); %>
    </head>

    <body class="is-<%= theme.type %>">
        <div class="pattern-bg pattern-bg--header">
            <%# Header %>
            <%- include('/components/header', { navigation: theme.navigation, user }); %>

            <%# About %>
            <%- include('/layout/about', { theme, user }); %>

            <%# Stats %>
            <%- include('/layout/stats', { user }); %>
        </div>

        <%# Projects %>
        <%- include('/layout/projects', { theme, projects: repositories }); %>

        <%# Gists and Contributions %>
        <% if ((gists && gists.length) || (contributions && contributions.length)) { %>
            <%- include('/layout/gists-contributions', { user, gists, contributions, utilities }); %>
        <% } %>

        <%# Footer %>
        <%- include('/layout/footer', { user, date }); %>

        <%# Deferred CSS %>
        <noscript id="deferred-styles">
            <link rel="stylesheet" href="assets/deferred.min.css"/>
        </noscript>

        <%# Scripts %>
        <script type="text/javascript" src="assets/project.min.js"></script>
    </body>
</html>
