<!DOCTYPE html>
<html lang="en">
    <head>
        <%# Meta %>
        <%- include('/base/meta', { meta: theme.meta, user }); %>

        <%# Styles %>
        <style><%- css %></style>
    </head>

    <body class="is-<%= theme.type %>" role="main">
        <div class="pattern-bg pattern-bg--header">
            <%# Header %>
            <%- include('/components/header', { navigation: theme.navigation, user }); %>

            <%# About %>
            <%- include('/layout/about', { theme, user }); %>

            <%# Stats %>
            <%- include('/layout/stats', { user }); %>
        </div>

        <%# Projects %>
        <%- include('/layout/projects', { theme, projects: repositories }); %>

        <%# Gists %>
        <%- include('/layout/gists-contributions', { user, gists, contributions, utilities }); %>

        <%# Footer %>
        <%- include('/layout/footer', { user, date }); %>

        <%# Scripts %>
        <script type="text/javascript"><%- js %></script>
    </body>
</html>
