<!DOCTYPE html>
<html lang="en">
    <head>
        <%# Meta %>
        <%- include('/base/meta', { meta: theme.meta, user: user }); %>

        <%# Styles %>
        <%- include('/base/style', { theme: theme }); %>
    </head>

    <body class="is-<%= theme.type %>" role="main">
        <div class="hero">
            <%# Header %>
            <%- include('/components/header', { navigation: theme.navigation, user: user }); %>

            <%# About %>
            <%- include('/layout/about', { theme: theme, user: user }); %>
        </div>

        <%# Projects %>
        <%- include('/layout/projects', { projects: repositories }); %>

        <%# Gists %>
        <%- include('/layout/gists', { gists: gists }); %>

        <%# Footer %>
        <%- include('/layout/footer', { user: user }); %>

        <%# Footer: Scripts %>
        <%- include('/base/script', { theme: theme }); %>
    </body>
</html>
