<%#
    About Partial
    Theme: Hubble JS Default
    Render About Section
    @param { Object } user and theme data
%>
<div class="container">
    <section class="about">
        <div class="about__avatar">
            <img src="<%= user.avatarUrl %>" alt="<%= user.name %>">
        </div>

        <div class="about__bio">
            <h1 class="about__name">
                <span><%= user.name.split(' ')[0] %></span>
                <span class="f-semi"><%= user.name.split(' ')[1] %></span>
            </h1>
            <p class="about__title"><%= theme.role %></p>

            <%# Website %>
            <% if (user.websiteUrl) { %>
                <p class="about__url">
                    <a href="<%= user.websiteUrl %>" class="f-semi" target="_blank">
                        <%= user.websiteUrl %>
                    </a>
                </p>
            <% } %>

            <%# Social Media %>
            <% if (theme.socialMedia !== false) { %>
                <%- include('../components/social', { social: theme.social }); %>
            <% } %>

            <%# Description %>
            <% if (theme.description !== false) { %>
                <p class="about__description">
                    <%= theme.description %>
                </p>
            <% } %>
        </div>
    </section>
</div>