<%#
    About Partial
    Theme: Hubble JS Default
    Render About Section
    @param { Object } user and theme data
%>
<section>
    <div class="columns">
        <div class="column">
            Avatar Here: <%= user.avatarUrl %>
        </div>
        <div class="column">
            <%= user.name %> |
            <%= user.location %> |
            <%= user.websiteUrl %> |
            <%= user.company %> |
            <%= user.bio %>

            <%# Theme: Social Media %>
            <% if (Object.keys(theme.socialMedia).length) { %>
                <div>
                    <% Object.keys(theme.socialMedia).forEach(function (key) { %>
                        <%- include('../components/social', { url: theme.socialMedia[key], label: key }); %>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</section>