<%#
    Contribution Partial
    Theme: HubbleJS Default
    @param { Object } contribution data
%>
<li
    class="contribution"
    style="<%= (contribution.primaryLanguage) ? 'border-left-color:'+contribution.primaryLanguage.color : '' %>">
    <a
        href="<%= contribution.url %>"
        class="contribution__label f-semi"
        target="_blank"
        rel="noopener noreferrer"
        title="Find <%= user.name %>'s contribution to <%= contribution.name %>"
    >
        <%= contribution.name %>
    </a>
</li>