<%#
    Gist Partial
    Theme: HubbleJS Default
    @param { Object } gist, utilities
%>
<li class="gist">
    <a
        href="https://gist.github.com/<%= user.username %>/<%= gist.name %>"
        class="gist__link"
        target="_blank"
        rel="noopener noreferrer"
        title="View <%= user.name %>'s Gist"
    >
        <p class="gist__description f-semi"><%= gist.description %></p>
        <span class="gist__date"><%= utilities.formatDate(gist.pushedAt) %></span>
    </a>
</li>