<%#
    Header Partial
    Theme: Hubble JS Default
    Render Header Navigation
    @param { Object } navigation and user data
%>
<div class="container">
    <header id="js-header" class="header" role="banner">
        <h1 class="header__username">@<%= user.username %></h1>

        <%# Navigation %>
        <% if (Object.keys(navigation).length) { %>
            <span id="js-nav-toggle" class="header__nav-toggle">
                <i class="open"><%- include('../icons/bars.svg'); %></i>
                <i class="close"><%- include('../icons/times.svg'); %></i>
            </span>
            <nav id="js-nav" class="nav" role="navigation">
                <% Object.keys(navigation).forEach(function (key) { %>
                    <a
                        href="<%= navigation[key] %>"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="nav__link"
                        title="Go to <%= key %>"
                    >
                        <%= key %>
                    </a>
                <% }); %>
            </nav>
        <% } %>
    </header>
</div>