<%#
    Project Partial
    Theme: Hubble JS Default
    Render Project Card
    @param { Object } project data
%>
<li class="project js-filter-project" data-language="<%= project.primaryLanguage.name %>">
    <a href="<%= project.url %>" class="project__link" target="_blank">
        <h3 class="project__name"><%= project.name %></h3>
        <p class="project__description"><%= project.description %></p>

        <div class="project__footer">
            <div class="project__language">
                <span class="project__language-color" style="background-color: <%= project.primaryLanguage.color %>"></span>
                <span class="project__language-name"><%= project.primaryLanguage.name %></span>
            </div>
            <% if (project.stargazers.totalCount !== 0) { %>
                <div class="project__star">
                    <span class="project__star-count"><%= project.stargazers.totalCount %></span>
                    <span class="project__star-icon">
                        <%- include('../icons/star.svg'); %>
                    </span>
                </div>
            <% } %>
        </div>
    </a>
</li>