<%#
    Project Partial
    Theme: HubbleJS Default
    Render Project Card
    @param { Object } project
%>
<li
    class="project js-filter-project"
    data-language="<%= project.primaryLanguage.name %>"
    itemscope
    itemtype="http://schema.org/Code"
>
    <a
        href="<%= project.url %>"
        class="project__link"
        target="_blank"
        rel="noopener noreferrer"
        itemprop="url"
    >
        <p class="project__name" itemprop="name"><%= project.name %></p>

        <% if (project.description) { %>
            <p class="project__description" itemprop="description"><%= project.description %></p>
        <% } %>

        <div class="project__footer">
            <p class="project__language">
                <span class="project__language-color" style="background-color: <%= project.primaryLanguage.color %>" aria-hidden="true"></span>
                <span class="project__language-name"><%= project.primaryLanguage.name %></span>
            </p>
            <% if (project.stargazers.totalCount !== 0) { %>
                <p class="project__star">
                    <span class="project__star-count"><%= project.stargazers.totalCount %></span>
                    <span class="project__star-icon">
                        <%- include('../src/icons/star.svg'); %>
                    </span>
                </p>
            <% } %>
        </div>
    </a>
</li>