<%#
    Social Partial
    Theme: Hubble JS Default
    Render Social Media Links
    @param { Object } social media { name:url }
%>
<div class="social-media">
    <ul>
        <% Object.keys(social).forEach(function (key) { %>
            <li class="social-media__link <%= key %>">
                <a
                    href="<%= social[key] %>"
                    title="<%= user.name %> on <%= key %>"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <%- include(`../icons/${key}.svg`); %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>